@page
@model ChalkChat.UI.Pages.Admin.IndexModel
@{
}

<h1>Member Page</h1>

@if (Model.IsAdmin)
{
    <strong>U ar big boi</strong>
}
else
{
    <form method="post">
        <input type="submit" value="Make me an admin" />
    </form>
}