@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="d-flex justify-content-center align-items-center min-vh-100 ">
       <img  src="~/Images/Logo.jpg" style="max-width:65%"/>
    </div>

